.list-container {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  max-width: 30%;
  min-width: 30%;
  min-height: 100vh;
}

.list-container-button__dismiss-all {
  background: black;
  border: none;
  bottom: 0;
  color: rgb(221, 142, 63);
  cursor: pointer;
  font-size: 16px;
  outline: none;
  padding: 20px 0;
  position: fixed;
  width: 30%;
}

.list-container__empty-text{
  text-align: center;
}

.dismiss {
  -webkit-animation: dismiss 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation: dismiss 0.5s;
  animation-fill-mode: forwards;
}

@keyframes dismiss {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
}
